* {
    padding: 0px;
    margin: 0px;
    font-family: var(--main-font)
}
body {
    overflow-x: hidden;
}
/* information bar start */
.information-bar {
    background-color: var(--shade-of-black-color);
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.information-bar-first-row-second-col-para{
    color: rgb(184, 184, 184);
    font-size: 12px;
    font-family: var(--main-font);
}
.information-bar-first-row-second-col-para::after {
    content: " Get Free Qoute";
    color: var(--main-color);
    align-self: center;
    font-family: var(--main-font);
    font-size: 12px;
    transition: color 0.3s;
    font-weight: bold;
}
.information-bar-first-row-second-col-para:hover::after {
    color: white;
}
.information-bar-first-row-third-col-para {
    color: rgb(184, 184, 184);
    font-size: 12px;
    font-family: var(--main-font);
}
.information-bar-first-row-fourth-col-para {
    color: rgb(184, 184, 184);
    font-size: 12px;
    font-family: var(--main-font);
}
.information-bar-first-row-div {
    background-color: rgb(23, 23, 23);
    width: 180px;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .information-bar-first-row-second-col {
    margin-left: -30px;
} */
.information-bar-first-row-same-icon {
    font-size: 13px;
    color: white;
    transition: 0.3s;
}
.information-bar-first-row-same-icon:hover {
    color: var(--main-color);
    transition: 0.3s;
}
.information-bar-first-row-third-col {
    position: relative;
    right: -100px;
}
.information-bar-first-row-last-two-col-icons {
    color: var(--main-color);
    font-size: 13px;
    margin: 10px;
}
@media screen and (min-width: 0px) and (max-width:991px) {
    .information-bar {
        display: none;
    }
}
/* information bar end */

/* nav-bar start */
.navbar {
    background-color: white;
}
.navbar-nav {
    position: relative;
    left: 400px;
}
.nav-bar-text-same {
    font-size: 16px;
    font-weight: bolder;
    margin: 10px;
    color: black;
}
.nav-bar-text-same:hover::before {
    color: black;
    font-weight: bolder;
}
.navbar-brand {
    width: 200px;
}
.navbar-brand-img {
    width: 130px;
    position: relative;
    right: -50px;
}
.navbar-container {
    background-color: white;
    height: 15vh;
}
.dropdown-home {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: white;
    width: 250px;
    position: absolute;
    top: 10px;
    height: 280px;
}
.dropdown-pages {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: white;
    width: 250px;
    position: absolute;
    top: 10px;
    height: 190px;
}
.dropdown-projects {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: white;
    width: 250px;
    position: absolute;
    top: 10px;
    height: 100px;
}
.dropdown-news {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: white;
    width: 250px;
    position: absolute;
    top: 10px;
    height: 145px;
}
.dropdown-menu-text {
    width: 200px;
    margin-bottom: 20px;
    color: gray;
    font-weight: bold;
    font-size: 15px;
}
.dropdown-menu-text-top {
    width: 200px;
    margin-bottom: 20px;
    color: gray;
    font-weight: bold;
    font-size: 15px;
}
.dropdown-menu-text::before {
    content: "";
    background-color: gray;
    width: 200px;
    height: 1px;
    position: absolute;
    margin-top: -15px;
}
.dropdown-menu-text:hover {
    color: black;
    transition: color 0.3s;
}
.dropdown-menu-text-top:hover {
    color: black;
    transition: color 0.3s;
}
.nav-bar-text-1:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 17px;
    width: 43px;
    height: 2px;
    background-color: var(--main-color);
}
.nav-bar-text-2:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 17px;
    width: 43px;
    height: 2px;
    background-color: var(--main-color);
}
.nav-bar-text-3:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 203px;
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
}
.nav-bar-text-4:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 17px;
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
}
.nav-bar-text-5:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 17px;
    width: 43px;
    height: 2px;
    background-color: var(--main-color);
}
.nav-bar-text-6:hover::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 500px;
    width: 55px;
    height: 2px;
    background-color: var(--main-color);
}
.dropdown-item:hover {
    background-color: white !important;
}
.navbar-toggler {
    border: none !important;
}
.navbar-collapse {
    background-color: white;
    z-index: 1000;
}
/* nav-bar end */

/* first section start */
.first-section-container {
    background-image: url(../Images/slider-1-1.png);
    background-repeat: no-repeat;
    width: 100%;
}
.first-section-container-header-after {
    color: white;
    font-size: 70px;
    font-weight: bolder;
}
.first-section-container-header-after::after {
    content: 'Quality';
    color: var(--main-color);
    font-size: 70px;
    font-weight: bolder;
}
.first-section-container-header {
    color: white;
    font-size: 70px;
    font-weight: bolder;
}
.first-section-container-text {
    color: white;
    font-weight: bolder;
    margin-top: 5px;
}
.first-section-container-text-1 {
    margin-top: 50px;
}
.first-section-arrow {
    color: var(--main-color);
}
.first-section-discover-btn {
    width: 230px;
    height: 70px;
    background-color: var(--main-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: 0.5s;
}
.first-section-discover-btn::after {
    content: 'Discover More';
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.first-section-discover-btn:hover::after {
    color: var(--main-color);
}
.first-section-discover-btn:hover {
    background-color: white;
}
.first-section-discover-btn-link {
    text-decoration: none;
}
.first-section-position-box {
    position: relative;
    top: 150px;
}
/* first section end */

/* second section start */
.second-section-container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bi-houses {
    color: white;
    font-size: 40px;
    z-index: 2;
}
.bi-buildings {
    color: white;
    font-size: 40px;
    z-index: 2;
}
.bi-house-door {
    color: white;
    font-size: 40px;
    z-index: 2;
}
.second-section-background-box {
    width: 370px;
    height: 368px;
}
.second-section-first-col {
    background-image: url(../Images/image-box-01.png);
    width: 370px;
    height: 368px;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
}
.second-section-second-col {
    background-image: url(../Images/image-box-02.png);
    width: 370px;
    height: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
}
.second-section-third-col {
    background-image: url(../Images/image-box-03.png);
    width: 370px;
    height: 368px;
    margin-right: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
}
.second-section-inside-col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 85px;
    position: relative;
    left: 140px;
}
.second-section-front-header {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    font-size: 39px;
}
.second-section-col-same:hover {
    background-size: 120%;
}
.second-section-col-same:hover .before-hover-box {
    display: none;
}
.second-section-col-same:hover .after-hover-box {
    display: block;
    background-size: 120%;
    background-color: rgba(0, 0, 0, 0.6);
}
.after-hover-box {
    display: none;
    height: 368px;
}
.after-hover-header {
    color: white;
    font-weight: bolder;
    margin: 40px;
}
.after-hover-para {
    color: white;
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}
.second-section-btn {
    border: none;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    position: relative;
    top: 45px;
    left: 281px;
}
.second-section-arrow-link {
    color: white;
    text-decoration: none;
}
.second-section-arrow-link:hover {
    color: white;
    text-decoration: none;
}
.second-section-arrow {
    font-size: 25px;
    font-weight: bolder;
}
.second-section-btn-second {
    position: relative;
    top: 46px;
}
/* second section end */

/* third section start */
.third-section-container-fluid {
    background-image: url(../Images/section-bg-01.jpg);
    background-repeat: no-repeat;
}
.third-section-first-row-first-col-after-header {
    color: grey;
    font-size: 16px;
    font-weight: bold;
    margin: 100px;
}
.third-section-first-row-first-col-after-header::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    margin-top: -15px;
    margin-left: -170px;
}
.third-section-first-row-first-col-header {
    margin-top: -90px;
    margin-left: 100px;
    font-weight: bolder;
    font-size: 50px;
}
.third-section-first-row-first-col-para {
    color: gray;
    font-weight: 500;
    font-size: 17px;
    margin-top: 60px;
    margin-left: 100px;
    width: 500px;
}
.third-section-first-row-first-col-main-color-header {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    width: 500px;
    margin-left: 100px;
}
.bi-check2 {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
}
.third-section-shadow-box-para {
    font-size: 16px;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.third-section-shadow-box-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.1);
}
.third-section-shadow-box-second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    margin-left: 360px;
    margin-top: -50px;
    background-color: white;
    box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.1);
}
.third-section-shadow-box-first:hover {
    box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.2);
    transition: 0.6s;
}
.third-section-shadow-box-second:hover {
    box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.2);
    transition: 0.6s;
}
.third-section-progress-bar {
    height: 5px;
    border-radius: 0%;
    background-color: var(--main-color) !important;
}
.third-section-progress-parent {
    border-radius: 0px !important;
    height: 5px !important;
    margin-left: 100px;
}
.third-section-progress-parent-first {
    margin-top: 50px;
}
.third-section-progress-parent-second {
    margin-top: 0px;
}
.third-section-progress-bar-percentage {
    color: gray !important;
    font-weight: bold;
}
.third-section-progress-bar-percentage-first {
    position: relative;
    left: 570px;
    top: 50px;
}
.third-section-progress-bar-percentage-second {
    position: relative;
    left: 495px;
}
.third-section-progress-bar-header {
    color: black;
    font-weight: bold;
}
.third-section-progress-bar-header-first {
    position: relative;
    left: 100px;
    top: 65px;
}
.third-section-progress-bar-header-second {
    position: relative;
    left: 100px;
    top: 20px;
}
.third-section-fancy-img-1 {
    position: relative;
    top: 50px;
    left: 100px;
    width: 210px;
    height: 195px;
    margin-right: -800px;
}
.third-section-fancy-img-2 {
    position: relative;
    right: 300px;
    top: -100px;
    width: 570px;
    height: 568px;
    margin-right: -800px;
}
.third-section-fancy-img-3 {
    position: relative;
    top: -130px;
    right: 30px;
    width: 330px;
    height: 325px;
    margin-right: -800px;
    margin-top: -200px;
}
.third-section-tel-number {
    color: black;
    position: relative;
    top: -230px;
    right: -40px;
    width: 200px;
}
.third-section-tel-number::before {
    content: 'Call:';
    color: black;
}
.third-section-tel-number-link {
    color: black;
}
.third-section-tel-number-link:hover {
    color: black;
}
.bi-telephone-fill {
    color: var(--main-color);
    font-size: 30px;
    width: 30px;
    position: relative;
    top: -200px;
}
.bi-telephone-fill:hover {
    animation: phone-shake 0.5s ease-in infinite;
    width: 660px;
}
@keyframes phone-shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
/* third section end */

/* fourth section start */
.fourth-section-owl-carousel {
    margin-top: 200px;
}
.fourth-section-header-small {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: gray !important;
    margin-top: 120px;
}
.fourth-section-header-small::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    margin-top: -15px;
    margin-left: -150px;
}
.fourth-section-header-big {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 130px;
}
.fourth-section-header-col {
    display: flex;
    justify-content: center;
    height: 40px;
}
.fourth-section-owl-item-1 {
    background-image: url(../Images/project-1-1-570x450.jpg);
}
.fourth-section-owl-item-2 {
    background-image: url(../Images/project-1-2-570x450.jpg);
}
.fourth-section-owl-item-3 {
    background-image: url(../Images/project-1-3-570x450.jpg);
}
.fourth-section-owl-item-4 {
    background-image: url(../Images/project-1-4-570x450.jpg);
}
.fourth-section-owl-item-5 {
    background-image: url(../Images/project-1-5-570x450.jpg);
}
.fourth-section-owl-item-6 {
    background-image: url(../Images/project-1-6-570x450.jpg);
}
.fourth-section-owl-item:hover {
    animation: background-resize 1s;
}
@keyframes background-resize {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 120%;
    }
    100% {
        background-size: 100%;
    }
}
.fourth-section-hover-box {
    background-color: var(--main-color);
    position: relative !important;
    top: 270px;
    left: 30px;
}
.arrow-link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 310px;
    background-color: rgba(36,36,36,.1);
}
.fourth-section-arrow {
    position: relative;
    top: 2px;
    color: white;
    transition: 0.3s;
}
.fourth-section-arrow:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}
.fourth-section-hover-box-para {
    color: white;
    font-weight: 600;
    margin-left: 30px;
}
.fourth-section-hover-box-para-link {
    color: white;
    text-decoration: none !important;
    transition: 0.2s;
}
.fourth-section-hover-box-para-link:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}
.fourth-section-hover-box-header {
    color: white;
    font-weight: bolder;
    letter-spacing: -1px;
    margin-left: 30px;
    margin-top: -10px;
}
.fourth-section-hover-box-header-link {
    color: white;
    text-decoration: none !important;
    transition: 0.2s;
}
.fourth-section-hover-box-header-link:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}
/* fourth section end */

/* fifth section start */
.fifth-section-container-fluid {
    background-image: url(../Images/section-bg-2.jpg);
    position: absolute;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth-section-first-col-para {
    color: rgb(183, 183, 183);
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 130px;
}
.fifth-section-first-col-para::after {
    content: '';
    background-color: var(--main-color);
    width: 34px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: -10px;
}
.fifth-section-first-col-header {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 130px;
    color: white;
}
.fifth-section-second-col-para {
    color: rgb(183, 183, 183);
    font-size: 19px;
    position: relative;
    top: 80px;
    width: 580px;
    font-weight: 500;
    line-height: 35px;
}
/* fifth section end */

/* sixth section start */
.sixth-section-container-fluid {
    background-image: url(../Images/section-bg-02.jpg);
    position: absolute;
    left: 0;
    margin-top: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.sixth-section-container {
    margin-top: -200px;
}
.sixth-section-container-col {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.sixth-section-container-col:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.sixth-section-container-col-1:hover::after {
    content: '';
    width: 372px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: -205px;
    animation: border-resize-after ease-in 0.3s;
}
.sixth-section-container-col-1:hover::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    position: absolute;
    top: -250px;
    animation: border-resize-before 1s ;
}
.sixth-section-container-col-2:hover::after {
    content: '';
    width: 400px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: -205px;
    animation: border-resize-after ease-in 0.3s;
}
.sixth-section-container-col-2:hover::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    position: absolute;
    top: -250px;
    animation: border-resize-before 1s ;
}
.sixth-section-container-col-3:hover::after {
    content: '';
    width: 400px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: -205px;
    animation: border-resize-after ease-in 0.3s;
}
.sixth-section-container-col-3:hover::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    position: absolute;
    top: -250px;
    animation: border-resize-before 1s ;
}
.sixth-section-avatar {
    width: 90px;
    height: 90px;
    position: relative;
    top: -45px;
    z-index: 100;
}
.sixth-section-slider-first-para {
    color: gray;
    font-size: 20px;
    width: 250px;
    text-align: center;
    line-height: 40px;
}
.sixth-secton-slider-second-para {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 20px;
}
.sixth-section-slider-third-para {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -20px;
}
@keyframes border-resize-after {
    0% {
        width: 0px;
    }
    100% {
        width: 372px;
    }
}
@keyframes border-resize-before {
    0% {
        width: 0px;
        height: 5px;
    }
    50% {
        width: 50px;
        height: 100px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}
/* sixth section part-1 end */

/* sixth section part-2 start */
.sixth-section-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shade-of-black-color);
}
.sixth-section-part-two-container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
}
.sixth-section-inside-container-fluid-col-1 {
    border-right: 1px rgba(255, 255, 255, 0.3) solid;
}
.sixth-section-inside-container-fluid-col-2 {
    border-right: 1px rgba(255, 255, 255, 0.3) solid;
}
.sixth-section-inside-container-fluid-col-3 {
    border-right: 1px rgba(255, 255, 255, 0.3) solid;
}
/* sixth section part 2 end */

/* sixth section end */

/* seventh section start */
.seventh-section-collapse-button {
    height: 13vh;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--shade-of-black-color);
    margin-top: -13vh;
}
.seventh-section-collapse-button-mid {
    background-color: rgba(36, 36, 36, 0.95);
}
.seventh-section-collapse-button:hover {
    background-color: white;
}
.seventh-section-collapse-button-1::after {
    content: 'Unparalleled Experience';
    font-size: 20px;
    font-weight: bold;
    color: white; 
}
.seventh-section-collapse-button-mid::after {
    content: 'Quality Construction';
    font-size: 20px;
    font-weight: bold;
    color: white; 
}
.seventh-section-collapse-button-2::after {
    content: 'Industry Solutions';
    font-size: 20px;
    font-weight: bold;
    color: white; 
}
.seventh-section-collapse-button-1:hover::after {
    color: black; 
}
.seventh-section-collapse-button-mid:hover::after {
    color: black; 
}
.seventh-section-collapse-button-2:hover::after {
    color: black; 
}
.seventh-section-top-header {
    color: var(--main-color);
    font-weight: bold;
    margin-top: 40px;
}
.seventh-section-para {
    color: gray;
    font-weight: bold;
    line-height: 35px;
    width: 570px;
    font-size: 18px;
    margin-top: 40px;
}
.seventh-section-bottom-header {
    color: gray;
    font-weight: bold;
    font-size: 19px;
    margin-top: 30px;
}
.seventh-section-checkmark {
    color: var(--main-color);
    font-size: 25px;
}
.seventh-section-checkmark::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.1);
    position: absolute;
    margin-left: -28px;
    z-index: -1;
}
/* seventh section end */

/* eigth section start */
.eigth-section-first-header {
    margin-top: 70px;
    margin-left: 130px;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px;
}
.eigth-section-first-header::after {
    content: '';
    height: 2px;
    width: 30px;
    background-color: var(--main-color);
    position: absolute;
    margin-left: -110px;
    margin-top: -15px;
}
.eigth-section-second-header {
    margin-top: 100px;
    margin-left: -360px;
    font-size: 50px;
    font-weight: bolder;
}
.eigth-section-information-box {
    background-color: white;
    transition: 0.3s;
    margin-top: -90px;
    margin-left: 45px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.eigth-section-information-box:hover {
    background-color: var(--main-color);
    transition: 0.3s;
    z-index: 100;
}
.eigth-section-information-box::after {
    content: '';
    width: 280px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: -90px;
    transition: 0.3s;
}
.eigth-section-information-box:hover::after {
    background-color: black;
    transition: 0.3s;   
}
.eigth-section-information-box-header-link {
    color: black;
    font-weight: bold;
    text-decoration: none !important;
}
.eigth-section-information-box-header-link:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.eigth-section-information-box-para {
    color: gray !important;
    font-weight: bold;
}
.eigth-section-information-social-box {
    background-color: rgba(128, 128, 128, 0.2);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.information-box-icon {
    color: black;
    transition: 0.3s;
}
.information-box-icon:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
/* eight section end */

/* ninth section start */
.nineth-section-main-container-fluid {
    background-image: url(../Images/section-bg-3.jpg);
    position: absolute;
    left: 0;
    top: 870vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.nineth-section-play-button {
    width: 100px;
    height: 100px;
    border: none !important;
    background-color: var(--main-color);
}
.nineth-section-play-button:hover {
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	animation: pulsate-fwd 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
.bi-play-fill {
    color: white;
    font-size: 40px;
}
/* nineth section end */

/* tenth section start */
.tenth-section-main-container-fluid {
    position: absolute;
    left: 0;
    top: 950vh;
    background-image: url(../Images/section-bg-4.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tenth-section-discover-btn {
    width: 230px;
    height: 70px;
    background-color: var(--shade-of-black-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.tenth-section-discover-btn::after {
    content: 'Discover More';
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.tenth-section-discover-btn:hover::after {
    color: var(--shade-of-black-color);
}
.tenth-section-discover-btn:hover {
    background-color: white;
}
.tenth-section-discover-btn-link {
    text-decoration: none;
}
/* tenth section end */

/* eleventh section start */
.eleventh-section-container-fluid {
    position: absolute;
    left: 0;
    top: 1020vh;
}
.eleventh-section-first-para {
    color: gray;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
}
.eleventh-section-first-para::after {
    content: '';
    height: 2px;
    width: 25px;
    background-color: var(--main-color);
    position: absolute;
    top: -10px;
    margin-left: -75px;
}
.eleventh-section-first-header {
    font-size: 50px;
    font-weight: bolder;
}
.card-comment {
    color: var(--main-color);
    font-weight: bold;
}
.card-link-account {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
}
.card-link {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
}
.card-link-account:hover {
    color: var(--shade-of-black-color);
    transition: 0.3s;
}
.card-link:hover {
    color: var(--shade-of-black-color);
    transition: 0.3s;
}
.card-title {
    font-weight: bolder;
    font-size: 31px;
}
.card-text {
    color: gray !important;
    font-weight: bold;
    font-size: 20px;
    position: relative !important;
    top: 30px;
}
.card {
    border: none !important;
    border-radius: 0px !important;
}
.card-img-top:hover {
    filter: brightness(50%);
    transition: 0.2s;
}
.card::after {
    content: '08 Jul';
    width: 90px;
    height: 90px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
}
.card:hover::after {
    content: '08 Jul';
    width: 90px;
    height: 90px;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
    color: white;
}
.card-third::after {
    content: '30 Jun';
    width: 90px;
    height: 90px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
}
.card-third:hover::after {
    content: '30 Jun';
    width: 90px;
    height: 90px;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
    color: white;
}
.card-second::after {
    content: '01 Jul';
    width: 90px;
    height: 90px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
}
.card-second:hover::after {
    content: '01 Jul';
    width: 90px;
    height: 90px;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
    top: -500px;
    left: 15px;
    color: white;
}
/* eleventh section end */

/* twelveth section start */
.twelveth-section-container-fluid {
    position: absolute;
    left: 0;
    top: 1150vh;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo {
    width: 250px;
}
/* twelveth section end */

/* thirteenth section start */
.thirteenth-section-conainer-fluid {
    position: absolute;
    left: 0;
    top: 1180vh;
    background-image: url(../Images/footer-bg-1.jpg);
}
.thirteenth-section-main-header {
    font-weight: bold;
    color: white;
    margin-top: -40px;
}
.thirteenth-section-para {
    color: rgb(183, 183, 183);
    font-weight: 550;
    margin-top: 30px;
    width: 300px;
    line-height: 30px;
}
.thirteenth-section-discover-btn {
    width: 230px;
    height: 70px;
    background-color: var(--main-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: 0.5s;
}
.thirteenth-section-discover-btn::after {
    content: 'Request a Quote';
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.thirteenth-section-discover-btn:hover::after {
    color: var(--shade-of-black-color);
}
.thirteenth-section-discover-btn:hover {
    background-color: white;
}
.thirteenth-section-discover-btn-link {
    text-decoration: none;
}
.thirteenth-section-link {
    color: rgb(183, 183, 183);
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    margin: 20px;
}
.thirteenth-section-link:hover {
    color: white;
}
.thirteenth-section-link-1:hover::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 30px;
}
.thirteenth-section-link-2:hover::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 30px;
}
.thirteenth-section-link-3:hover::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 30px;
}
.thirteenth-section-link-4:hover::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 30px;
}
.thirteenth-section-link-5:hover::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 30px;
}
.thirteenth-section-contact-para {
    color: rgb(183, 183, 183);
    font-weight: 550;
    margin-top: 30px;
    width: 300px;
}
.thirteenth-section-contact-para-1::before {
    content: '';
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    position: absolute;
    width: 300px;
    margin-top: 40px;
}
.thirteenth-section-contact-para-2::before {
    content: '';
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    position: absolute;
    width: 300px;
    margin-top: 40px;
}
.thirteenth-section-contact-para-3::before {
    content: '';
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    position: absolute;
    width: 300px;
    margin-top: 40px;
}
.thirteenth-section-icon {
    color: var(--main-color) !important;
}
.thirteenth-section-para-2 {
    color: rgb(183, 183, 183);
    font-weight: 550;
    margin-top: 30px;
}
.email-input {
    width: 310px;
    height: 60px;
    margin-top: 30px;
}
.email-input:focus {
    border: 3px solid var(--main-color);
    box-sizing: none;
}
.thirteenth-section-same-icon {
    color: white;
    transition: 0.2s;
}
.thirteenth-section-same-icon:hover {
    color: var(--main-color);
}
/* thirteenth section end */

/* fourteenth section start */
.intials-link {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
}
.intials-link:hover {
    color: white;
}
